 * {
    box-sizing: border-box;

 }

body {
    background-color: #efefef;
    margin: 0;
}

.brand-name {
    font-family: 'Poppins';
    font-weight: 700;
}

.main-page {
    padding: 30px;
 
    
}
.nav-bar {
   
    background-color: #43281c;
    color: #fbf2c0;
    display: flex;
    justify-content: center;
    padding: 6px 0;

}

.brand-logo {
    width: 30px;
    height: 32px;
    margin-top: 20px;
    margin-right: 6px;
}

.box {
    background-color: #eee1d5;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(208, 205, 205);
    padding: 20px;
}
.f-grow {
    flex: 1;
}
.order {
    display: flex;
    flex-direction: column;

}

.order-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-family: sans-serif;
    flex-wrap: wrap;
}

.name-container {
    margin-bottom: 25px;
}

h2 {
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #885a2d;
}

.name-box, 
.ccv-box, 
.card-number {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
}
label {
    position: absolute;
    font-size: 12px;
    bottom: 41px;
    left: 30px;
    background-color: #eee1d5;
    color: #885a2d;
    padding: 0 2px;
}

#name-input,
#ccv-input,
#number-input{
    padding: 15px;
    background-color: #eee1d5;
    border: 2px solid #885a2d;
    border-radius: 10px;
}

#ccv-input {
    width: 250px;
}

.order-item {
    display: flex;
    gap: 80px;
    margin: 10px 0;
}

.order-item:not(:last-child){
    border-bottom: 2px solid #d89f65 ;
}

.item,
.price {
    font-family: Poppins;
    font-weight: 600;
    margin-top: -2px;
}

.price {
    margin-left: auto;
    margin-right: 30px;
}



ul {
    list-style: none;
    padding-left: 0;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 5px;
    
}
li {
    padding: 5px 0;
    color: #885a2d;
}

.table-container {
    margin-top: 40px;
   
    
}
table {
    margin: auto;
    width: 350px;
}

td {
    font-family: sans-serif;
    padding: 6px;
}

.align-right {
    text-align: right;
}
.bold {
    font-weight: 800;
}

.button-container {
    display: flex;
}

button {
    background-color: #d89f65;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
    flex: 1;
    padding: 12px;
}